body
  font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif
  user-select none

/* 解决Viewport Units Buggyfill与图片不兼容问题 */
img
  content normal !important

.f-24
  font-size: 24px
.f-26
  font-size: 26px
.f-28
  font-size: 28px
.f-30
  font-size: 30px
.f-32
  font-size: 32px
.f-34
  font-size: 34px
.f-36
  font-size: 36px
.f-38
  font-size: 38px
.f-40
  font-size: 40px